:root {
    --primary-color: 60, 142, 220;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Space Grotesk";
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header {
    display: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgba(var(--primary-color), 0.4);
    border: solid 1px rgb(var(--primary-color));
    border-radius: 0.375rem;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}

.inclose { 
    display: none;
    align-items: center;
    justify-content: center;
    height: 4.438rem;
    width: 4.438rem;
    background-image: url(./images/polygon.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: hue-rotate(0deg) saturate(1) brightness(1);
}

.outclose {
    height: 3.438rem;
    width: 3.438rem;
    background-image: url(./images/outclose.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: hue-rotate(0deg) saturate(1) brightness(1);
}