.mainStart {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, rgba(56, 158, 255, 0.25) 0%, rgba(0, 0, 0, 0) 49.69%, rgba(56, 158, 255, 0.25) 100%);
}
  
.outline-text {
  font-size: 1000px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 2px #FFFFFF33;
  line-height: 1;
}

.mainStart p {
    font-family: Space Grotesk;
    font-weight: 400;
    font-style: Regular;
    font-size: 350px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: -5%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    position: absolute;
}
  