body, * {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'DM Sans';
}

body {
	width: 100vw;
	height: 100vh;
	display: none;
	justify-content: center;
	align-items: flex-end;
}

.container {
	position: relative;
	max-width: 321px;
	background: linear-gradient(90deg, rgba(88, 110, 190, 0.04) 0%, rgba(0, 0, 0, 0) 100%), #101015;
	border-radius: 12px;
	padding: 20px;

	margin-bottom: 40px;
}

.container header {
	display: flex;
	justify-content: space-between;
}

.container header span {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;

	color: #FFFFFF;
}

.container header div {
	display: flex;
	/* gap: 3px; */
}

legend {
	width: 8px;
	height: 16px;

	background: rgba(255, 255, 255, 0.03);
	border-radius: 8px;
}

.checked {
	background: #5763D0;
}

.container p {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;

	color: rgba(255, 255, 255, 0.45);

	margin-top: 4px;
}

.container section {
	width: 100%;
	height: 22px;

	background: rgba(255, 255, 255, 0.02);
	border-radius: 5px;

	margin-top: 20px;
}

.container section div {
	background: #5763D0;
	height: 100%;
	border-radius: 5px;
}

.container section button {
	position: absolute;
	width: 32px;
	height: 32px;

	background: #FFFFFF;
	border-radius: 5px;

	outline: none;
	border: 0;

	bottom: 15px;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #000000;
}