main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 205px;
    flex-direction: column;
}

main p {
    font-family: Space Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFFA6;
    margin-top: 23px;
}

main h1 {
    font-family: Space Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: CAP_HEIGHT;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFFF7;
    width: 282px;
    align-text: center;
    margin-top: 15px;
}