main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-bottom: 205px;
    flex-direction: column;
}

main span {
    color: #8EFF38;
}