@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --white: #ffffff;
  --background-color: linear-gradient(270deg, #5763D0 0%, rgba(87, 99, 208, 0.50) 100%);;
  --icon-color: #5763D0;
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: all ease 0.25s;
}

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 0;
  top: 0;
}