@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: 0, 0, 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: all ease 0.25s;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .animate-loading-bar {
    animation: loading-bar-grow 0.3s ease-out forwards;
  }

  @keyframes loading-bar-grow {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
}

b {
  color: #ffffffa6;
  font-weight: 400;
}

.close {
  background: linear-gradient(0deg, #2a52f2, #2a52f2),
    radial-gradient(
      60.03% 95.47% at 49.84% 76.67%,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border: 1px solid #ffffff0d;
  box-shadow: 0px 0px 15px 0px #2a52f280;
}

.announce-scroll::-webkit-scrollbar {
  width: 0.2vw;
  border-radius: 5vw;
  display: flex;
}

.announce-scroll::-webkit-scrollbar-track {
  background: #ffffff0d;
  border-radius: 5vw;
}

.announce-scroll::-webkit-scrollbar-thumb {
  border-radius: 5vw;
  border: 3px solid #ffffff40;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

html {
  font-size: 100% !important;
}

@media screen and (max-width: 1900px) {
  html {
    font-size: 88% !important;
  }
}
@media screen and (max-width: 1570px) {
  html {
    font-size: 75% !important;
  }
}
@media screen and (max-width: 1450px) {
  html {
    font-size: 70% !important;
  }
}
@media screen and (max-width: 1250px) {
  html {
    font-size: 60% !important;
  }
}
@media screen and (max-width: 1060px) {
  html {
    font-size: 65% !important;
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 60% !important;
  }
}
@media screen and (min-aspect-ratio: 21/9) {
  html {
    font-size: 110% !important;
  }
}
@media screen and (max-height: 950px) {
  html {
    font-size: 90% !important;
  }
}
@media screen and (max-height: 900px) {
  html {
    font-size: 86% !important;
  }
}
@media screen and (max-height: 860px) {
  html {
    font-size: 80% !important;
  }
}
@media screen and (max-height: 800px) {
  html {
    font-size: 75% !important;
  }
}
@media screen and (max-height: 750px) {
  html {
    font-size: 60% !important;
  }
}
@media screen and (max-height: 700px) {
  html {
    font-size: 65% !important;
  }
}
@media screen and (max-height: 700px) {
  html {
    font-size: 60% !important;
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 70% !important;
  }
}
@media screen and (max-width: 1260px) {
  html {
    font-size: 65% !important;
  }
}
@media screen and (max-width: 1180px) {
  html {
    font-size: 60% !important;
  }
}
@media screen and (max-width: 1070px) {
  html {
    font-size: 55% !important;
  }
}
@media screen and (max-width: 990px) {
  html {
    font-size: 50% !important;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 45% !important;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 40% !important;
  }
}
@media screen and (max-width: 690px) {
  html {
    font-size: 35% !important;
  }
}
@media screen and (max-width: 630px) {
  html {
    font-size: 30% !important;
  }
}
@media screen and (max-width: 100px) and (max-height: 100px) {
  html {
    font-size: 5.5% !important;
  }
}
